* {
    box-sizing: border-box;
}

body{
    margin: 0;

}
.firstbox{
    border: 5px solid pink;
    width: 500px;
    height: 200px;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    
}
.secondbox {
    position: relative;
    border: 5px solid pink;
    width: 500px;
    height: 200px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: center;
    
    
   
    
}
.thirdbox {
    border: 5px solid pink;
    width: 500px;
    height: 200px;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    
    
}

main {
    position: relative; 
    justify-content: center;
    align-items: center;
    padding-left: 500px;
    padding-top: 150px;
    
}

p .firstbox{
    left: 5px;
}