body{
    margin: 0;
}

nav {
   
    background-color: pink;
    width: 690px;
    height: 57px;
    margin-top: 352px;
    margin-left: 390px;
   padding: 10px;
}
.container{
    list-style: none;
    display:flex;
    justify-content:center;
    font-size:larger;
    align-items: center;
    margin: -145px;
    padding: 166px;
  

   
  


}
nav li a{
    position: relative;
    display: inline-block;
    color: red;
    border-right: 3px solid red;
  
    padding-right: 10px;
    margin-right: 10px;
}