* {
    box-sizing: border-box;
}

body{
    margin: 0;

}
.firstbox{
    border: 5px solid pink;
    width: 200px;
    height: 350px;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    float: left;
    
}
.secondbox {
    
    border: 5px solid pink;
    width: 200px;
    height: 600px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    margin-left: 195px;
    
   
    
    
   
    
}
.thirdbox {
    border: 5px solid pink;
    width: 200px;
    height: 525px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 74px;
    float: right;
    margin-right: 405px ;
    
    
}

main {
    position: relative; 
    justify-content: center;
    align-items: l;
    padding-left: 500px;
    padding-top: 150px;
    
}

